<h1>Catégories</h1>

<div>
  <div>
    <h3>Droit</h3>
    <p>Cours de droit</p>
  </div>

  <div>
    <h3>Anatomie</h3>
    <p>Cours d'anatomie</p>
  </div>

  <div>
    <h3>Informatique</h3>
    <p>Cours d'informatique</p>
  </div>

  <div>
    <h3>Robotique</h3>
    <p>Cours de robotique</p>
  </div>

  <div>
    <h3>Environnement</h3>
    <p>Cours d'environnement</p>
  </div>

  <div>
    <h3>Génie civil</h3>
    <p>Cours de génie civil</p>
  </div>
</div>
