<h1>Study Buddy</h1>

<div class="container">
<%= simple_form_for @category do |f|%>
  <%= f.input  :title  %>
  <%= f.input :file, as: :file, label: "upload a file (PDF, doc, image)" %>
  <%= f.submit "Upload file And create category" %>

<% end %>
</div>
