<div class="text-center">
  <div class="position-relative d-inline-block">
    <%= image_tag("homepage_banner.jpg", height: 400, class: "img-fluid") %>
    <div class="position-absolute top-50 start-50 translate-middle" style="width: 45%;">
      <%= link_to new_lecture_path, class: "btn btn-upload-document" do %>
        <i class="fas fa-cloud-upload-alt"></i> Télécharger document
      <% end %>
    </div>
  </div>
</div>


<% if @categories&.any? %>
  <div class="container my-5">
    <h3 class="mb-4">Mes catégories</h3>
    <div class="d-flex flex-wrap gap-3">
      <% @categories.each do |category| %>
          <div class="category-card">
            <div class="category-card-icon">
              <i class="fas fa-folder"></i>
            </div>
            <div class="category-card-content">
              <h5 class="category-card-title"><%= category.title %></h5>
              <span class="category-card-count"><%= category.lectures.count %> lecture(s)</span>
            </div>
          </div>
      <% end %>
    </div>
  </div>
<% end %>
