<h1>Study Buddy</h1>

<<<<<<< HEAD
<form action="<%= uploads_path %>" method="post" enctype="multipart/form-data">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <label for="fileInput">Sélectionner un fichier :</label>
  <input type="file" name="document" id="fileInput" accept=".pdf,.docx,.txt,.jpg,.jpeg,.png,.gif,.webp">

  <br><br>

  <button type="submit">Envoyer</button>
</form>
=======
>>>>>>> master
